.speech {
    font-size: 15px;
    color: black;
    font-family: "Times New Roman";
}
.direction {
    font-size: 15px;
    color: black;
    background-color: lavender;
    font-family: "Times New Roman";
}
h6.direction:hover {
    background-color: cornsilk;
    color: skyblue;
}S
.name {
    font-size: 15px;
    color: black;
    font-family: "Times New Roman";
}
h6.name {
    margin-block: auto;
}
.Cleante {
    color: crimson;
}
.Tartuffe {
    color:cornflowerblue;
}
.Elmire {
    color:darkkhaki
}
.Mariane{
    color:darkgray;
}
table, th, td {
    border:1px solid rgb(112, 216, 159);
  }
th, td {
    border: 1px solid #5214c5;
}
table {
    border: 1px solid white;
}
tbody tr:nth-child(odd) {
    background-color: rgb(184, 110, 25);
    margin: 2px;
    padding: 2px;
 }
 .prathyu {
    margin: 2px;
    padding-top: 1rem;
}
.playStyle {
    font-style: italic;
    font-size: 18px;
    font-family: monospace;
    border: 2px solid rgb(131, 148, 56);
}
h6.name:hover {
    border: 1px solid #eedf0e;
    padding: 10px;
    box-shadow: 5px 10px #ae92e2;
}